In [2]:
# imports
import os

import pandas as pd

In [3]:
# define paths
base_path = os.path.dirname(os.getcwd())
data_dir = "data/describable_textures_dtd"
data_path = os.path.join(base_path, data_dir)

In [11]:
# load class names and ids CSV file
df = pd.read_csv(os.path.join(data_path, "class_names_ids.csv"))
df.head()

  class_name  class_id
0     banded         0
1    blotchy         1
2    braided         2
3     bubbly         3
4      bumpy         4

In [13]:
# find all the images in the class name dirs
image_names = {}
for _, row in df.iterrows():
    name = row.class_name
    images = os.listdir(os.path.join(data_path, f"images/{name}"))
    images = [img for img in images if img.endswith(".jpg")]
    print(f"Class {name} has {len(images)} images.")
    image_names[name] = images

Class banded has 120 images.
Class blotchy has 120 images.
Class braided has 120 images.
Class bubbly has 120 images.
Class bumpy has 120 images.
Class chequered has 120 images.
Class cobwebbed has 120 images.
Class cracked has 120 images.
Class crosshatched has 120 images.
Class crystalline has 120 images.
Class dotted has 120 images.
Class fibrous has 120 images.
Class flecked has 120 images.
Class freckled has 120 images.
Class frilly has 120 images.
Class gauzy has 120 images.
Class grid has 120 images.
Class grooved has 120 images.
Class honeycombed has 120 images.
Class interlaced has 120 images.
Class knitted has 120 images.
Class lacelike has 120 images.
Class lined has 120 images.
Class marbled has 120 images.
Class matted has 120 images.
Class meshed has 120 images.
Class paisley has 120 images.
Class perforated has 120 images.
Class pitted has 120 images.
Class pleated has 120 images.
Class polka-dotted has 120 images.
Class porous has 120 images.
Class potholed has 120 images.
Class scaly has 120 images.
Class smeared has 120 images.
Class spiralled has 120 images.
Class sprinkled has 120 images.
Class stained has 120 images.
Class stratified has 120 images.
Class striped has 120 images.
Class studded has 120 images.
Class swirly has 120 images.
Class veined has 120 images.
Class waffled has 120 images.
Class woven has 120 images.
Class wrinkled has 120 images.
Class zigzagged has 120 images.

In [14]:
# create new dataframe with image file names as a separate column
image_df = pd.DataFrame(data=image_names)
image_df = pd.DataFrame(image_df.unstack()).reset_index(level=[0, 1]).drop(columns=["level_1"])
image_df.columns = ["class_name", "file_name"]
image_df

     class_name           file_name
0        banded     banded_0133.jpg
1        banded     banded_0125.jpg
2        banded     banded_0108.jpg
3        banded     banded_0042.jpg
4        banded     banded_0150.jpg
...         ...                 ...
5635  zigzagged  zigzagged_0024.jpg
5636  zigzagged  zigzagged_0098.jpg
5637  zigzagged  zigzagged_0068.jpg
5638  zigzagged  zigzagged_0010.jpg
5639  zigzagged  zigzagged_0042.jpg

[5640 rows x 2 columns]

In [15]:
# merge the original data frame with the new one
df = df.merge(image_df, left_on="class_name", right_on="class_name")
df.head()

  class_name  class_id        file_name
0     banded         0  banded_0133.jpg
1     banded         0  banded_0125.jpg
2     banded         0  banded_0108.jpg
3     banded         0  banded_0042.jpg
4     banded         0  banded_0150.jpg

In [16]:
# save dataframe
df.to_csv(os.path.join(data_path, "data.csv"), index=False)